<h1>新規登録</h1>
  <div class = "form_page">
    <p class = "attention">*は必須項目です</p>
    <%= form_with model: User.new do |f|%>
    <table class = "form">
      <tr>
        <th><%= f.label :image, "プロフィール画像"%></th>
        <td><%= f.file_field :image%></td>
      </tr>
      
      <tr>
        <th class = "need_form"><%= f.label :name, "*名前"%></th>
        <td><%= f.text_field :name, required: true%></td>
      </tr>
      
      <tr>
        <th class = "need_form"><%= f.label :email, "*メールアドレス"%></th>
        <td><%= f.text_field :email, required: true%></td>
      </tr>
      
      <tr>
        <th class = "need_form"><%= f.label :password, "*パスワード"%></th>
        <td><%= f.text_field :password, required: true%></td>
      </tr>
      
      <tr>
        <th class = "need_form"><%= f.label :password_confirmation, "*パスワードの再入力"%></th>
        <td><%= f.text_field :password_confirmation, required: true%></td>
      </tr>
      
      <tr>
        <th><%= f.label :introduce, "自己紹介"%></th>
        <td><%= f.text_field :introduce%></td>
      </tr>
    </table>
    <div class = "submit_buttons">
      <%= f.submit "登録", class: "submit_buttons_child"%>
      <button class = "submit_buttons_child" type = "button" id = "back">戻る</button>
    </div>
    
  <% end%>
</div>
<script>
  document.getElementById('back').addEventListener('click', function(){
    history.back();
  }, false)
</script>